.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.input-box {
  width: 30vw;
  height: 8vh;
  margin-bottom: 50px;
  align-self: center;
}
